[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = "*"
pydantic = {extras = ["email"], version = "*"}
python-dotenv = "*"
python-multipart = "*"
fastapi-pagination = "*"
pytest = "*"
httpx = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.11"
